/*
font: italic smll-caps bold 12px/30px Georgia, serif
font-style
font-variant
font-weight
font-size/line-height

font-family: $
*/
@media screen and (max-width: 768px) {
.product-wrapper .product-info .product-name[data-v-6dcc2f72], .product-wrapper .product-info .price[data-v-6dcc2f72] {
    font-weight: 700;
}
.product-wrapper[data-v-6dcc2f72] {
    border-bottom: 1px solid #e1e1e1;
}
.product-wrapper .coupon-select[data-v-6dcc2f72] {
    border-radius: 8px;
    border: 1px solid #bdbdbd;
}
}
@media screen and (min-width: 768px) {
dl:last-child dd[data-v-6dcc2f72] {
    border-bottom: 1px solid #000;
}
.order_item dd[data-v-6dcc2f72] {
    border-top: 1px solid #e1e1e1;
}
.order_item dl dd[data-v-6dcc2f72]:nth-child(3) {
    min-width: 322px;
}
}
@media screen and (max-width: 768px) {
.product-wrapper[data-v-6dcc2f72] {
    padding: 13px 12px;
}
.product-wrapper .product-thumb-wrapper[data-v-6dcc2f72] {
      display: inline-block;
      width: 80px;
      height: 80px;
}
.product-wrapper .product-thumb-wrapper img[data-v-6dcc2f72] {
        width: 100%;
        height: 100%;
        border-radius: 8px;
}
.product-wrapper .product-info[data-v-6dcc2f72] {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 84px);
      height: 80px;
      padding: 0 10px 0 15px;
}
.product-wrapper .product-info .product-name[data-v-6dcc2f72] {
        margin-top: 4px;
        opacity: 0.9;
        font-weight: bold;
        font-size: 12px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
}
.product-wrapper .product-info .option-name[data-v-6dcc2f72] {
        margin-top: 3px;
        font-size: 11px;
        font-weight: 300;
        opacity: 0.9;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
}
.product-wrapper .product-info .price[data-v-6dcc2f72] {
        margin-top: 9px;
        opacity: 0.81;
        font-size: 13px;
}
.product-wrapper .product-info .price span[data-v-6dcc2f72] {
          font-weight: 400;
          color: #9e9e9e;
          font-size: 12px;
          text-decoration: line-through;
}
.product-wrapper .coupon-select[data-v-6dcc2f72] {
      padding: 5px 12px;
      height: 36px;
      margin-top: 6px;
}
.product-wrapper .coupon-select span[data-v-6dcc2f72] {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        box-sizing: border-box;
        font-size: 12px;
}
.product-wrapper .coupon-select img[data-v-6dcc2f72] {
        width: 14px;
        float: right;
        margin-top: 8px;
}
.product-wrapper .coupon-select.coupon-no-select span[data-v-6dcc2f72] {
      color: #9e9e9e;
}
}