/*
font: italic smll-caps bold 12px/30px Georgia, serif
font-style
font-variant
font-weight
font-size/line-height

font-family: $
*/
.detail_info-container[data-v-6011926c] {
      padding-top: 16px;
      text-align: center;
    }
    @media screen and (min-width: 769px) {
    .detail_info-container[data-v-6011926c] {
          padding-top: 60px;
    }
    }
    .detail_info-container[data-v-6011926c] img {
        max-width: 100%;
        margin: 0 auto;
    }
    