/*
font: italic smll-caps bold 12px/30px Georgia, serif
font-style
font-variant
font-weight
font-size/line-height

font-family: $
*/
.detail_qna-container {
  margin: 0 -16px;
}
@media screen and (min-width: 769px) {
.detail_qna-container {
      margin: 0;
}
}
.detail_qna-container .wrap-paging {
    padding: 16px;
    border-top: 1px solid #f2f2f2;
}
@media screen and (min-width: 769px) {
.detail_qna-container .wrap-paging {
        margin-top: -1px;
        padding: 72px 0 0;
        border-color: #e1e1e1;
}
}
.detail_qna-container .btn_more-qna {
    display: block;
    padding: 13px 4px;
    border-radius: 6px;
    border: solid 1px #e1e1e1;
    background-color: #ffffff;
    color: #1e1e1e;
    font-size: 13px;
    text-align: center;
}
.wrap-qna-write {
  padding: 20px 16px;
  background-color: #f7f7f7;
}
.wrap-qna-write:before, .wrap-qna-write:after {
    content: '';
    display: block;
    clear: both;
}
@media screen and (min-width: 769px) {
.wrap-qna-write {
      margin-bottom: 44px;
      padding: 16px 16px 42px;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt,
    .wrap-qna-write dd {
      padding: 20px 0;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt:nth-of-type(n+2),
    .wrap-qna-write dd:nth-of-type(n+2) {
      border-top: 1px solid #e6e6e6;
}
}
.wrap-qna-write dt {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt {
        float: left;
        width: 124px;
        padding-right: 4px;
        font-size: 18px;
        font-weight: 400;
}
}
.wrap-qna-write dt:first-of-type {
      clear: left;
}
.wrap-qna-write dt:nth-of-type(n+2) {
      margin-top: 20px;
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt:nth-of-type(n+2) {
          margin-top: 0;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt.type {
        padding-top: 29px;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt.conts {
        padding-top: 80px;
}
}
.wrap-qna-write dt.private {
      display: none;
}
@media screen and (min-width: 769px) {
.wrap-qna-write dt.private {
          display: block;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-write dd {
      padding-left: 124px;
}
}
.wrap-qna-write dd.private {
    margin-top: 12px;
}
@media screen and (min-width: 769px) {
.wrap-qna-write dd.private {
        margin-top: 0;
}
}
.wrap-qna-write .txtarea-conts {
    width: 100%;
    height: 125px;
    padding: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: #ffffff;
    resize: vertical;
    font-size: 12px;
}
@media screen and (min-width: 769px) {
.wrap-qna-write .txtarea-conts {
        height: 146px;
        font-size: 18px;
}
}
.wrap-qna-write .chk-private {
    display: inline-block;
    padding-left: 22px;
    background: url("/static/20.09.01/images/ic-btn-checkbox.svg") no-repeat left 50%;
    background-size: 16px 16px;
    color: #1e1e1e;
    font-size: 13px;
}
@media screen and (min-width: 769px) {
.wrap-qna-write .chk-private {
        padding-left: 30px;
        background-size: 22px 22px;
        font-size: 16px;
}
}
.wrap-qna-write .chk-private.active {
      background-image: url("/static/20.09.01/images/ic-btn-checkbox-s-18-pt.svg");
}
.wrap-qna-write .wrap-btn {
    margin-top: 20px;
    text-align: center;
}
@media screen and (min-width: 769px) {
.wrap-qna-write .wrap-btn {
        margin-top: 0;
        padding-top: 42px;
        border-top: 1px solid #e6e6e6;
}
}
.wrap-qna-write .btn-cancle,
  .wrap-qna-write .btn-submit {
    min-width: 90px;
    margin: 0 2px;
    padding: 11px 4px;
    border: 1px solid #1e1e1e;
    border-radius: 6px;
    font-size: 13px;
    text-align: center;
}
@media screen and (min-width: 769px) {
.wrap-qna-write .btn-cancle,
      .wrap-qna-write .btn-submit {
        min-width: 160px;
        margin: 0 4px;
        padding: 18px 8px;
        font-size: 19px;
        font-weight: 500;
}
}
.wrap-qna-write .btn-cancle {
    background-color: #ffffff;
    color: #1e1e1e;
}
.wrap-qna-write .btn-submit {
    background-color: #1e1e1e;
    color: #fff;
}
@media screen and (min-width: 769px) {
.wrap-qna-list {
    margin-top: -1px;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #e1e1e1;
}
}
.wrap-qna-list .qna-list {
  width: 100%;
  table-layout: fixed;
}
.wrap-qna-list .qna-list .no-data {
    padding: 50px 12px;
    color: #c5c5c5;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list .no-data {
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 22px;
}
}
.wrap-qna-list .qna-list colgroup {
    display: none;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list colgroup {
        display: table-column-group;
}
}
.wrap-qna-list .qna-list col {
    display: none;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list col {
        display: table-column;
}
}
.wrap-qna-list .qna-list thead {
    display: none;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list thead {
        display: table-header-group;
}
}
.wrap-qna-list .qna-list thead th {
      border-bottom: 1px solid #e1e1e1;
}
.wrap-qna-list .qna-list tbody {
    display: block;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list tbody {
        display: table-row-group;
}
}
.wrap-qna-list .qna-list tr {
    display: block;
    padding: 12px 16px;
    overflow: hidden;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list tr {
        display: table-row;
        padding: 0;
}
}
.wrap-qna-list .qna-list tr:nth-child(n+2) {
      border-top: 1px solid #f2f2f2;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list tr:nth-child(n+2) {
          border-top: 0;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list tr:nth-child(n+2) th,
        .wrap-qna-list .qna-list tr:nth-child(n+2) td {
          border-top: 1px solid #e1e1e1;
}
}
.wrap-qna-list .qna-list th,
  .wrap-qna-list .qna-list td {
    display: block;
    padding: 0;
    font-size: 11px;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th,
      .wrap-qna-list .qna-list td {
        display: table-cell;
        padding: 20px 36px;
        font-size: 18px;
        text-align: center;
        vertical-align: top;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.al-l,
      .wrap-qna-list .qna-list td.al-l {
        text-align: left;
}
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.al-r,
      .wrap-qna-list .qna-list td.al-r {
        text-align: right;
}
}
.wrap-qna-list .qna-list th.type,
    .wrap-qna-list .qna-list td.type {
      float: left;
      margin-bottom: 8px;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.type,
        .wrap-qna-list .qna-list td.type {
          float: none;
          width: auto;
          margin-bottom: 0;
}
}
.wrap-qna-list .qna-list th.state,
    .wrap-qna-list .qna-list td.state {
      position: relative;
      float: left;
      margin-bottom: 8px;
      margin-left: 8px;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.state,
        .wrap-qna-list .qna-list td.state {
          float: none;
          width: auto;
          margin-bottom: 0;
          margin-left: 0;
}
}
.wrap-qna-list .qna-list th.state:before,
      .wrap-qna-list .qna-list td.state:before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 8px;
        margin-right: 8px;
        background-color: #e1e1e1;
        vertical-align: middle;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.state:before,
          .wrap-qna-list .qna-list td.state:before {
            display: none;
}
}
.wrap-qna-list .qna-list th.contents,
    .wrap-qna-list .qna-list td.contents {
      clear: left;
      float: left;
      width: calc(100% - 108px);
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.contents,
        .wrap-qna-list .qna-list td.contents {
          float: none;
          width: auto;
}
}
.wrap-qna-list .qna-list th.writer,
    .wrap-qna-list .qna-list td.writer {
      float: left;
      width: 48px;
      color: #9a9a9e;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.writer,
        .wrap-qna-list .qna-list td.writer {
          float: none;
          width: auto;
          color: #1e1e1e;
}
}
.wrap-qna-list .qna-list th.date,
    .wrap-qna-list .qna-list td.date {
      float: left;
      width: 56px;
      color: #9a9a9e;
      text-align: right;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list th.date,
        .wrap-qna-list .qna-list td.date {
          float: none;
          width: auto;
          color: #1e1e1e;
          text-align: center;
}
}
.wrap-qna-list .qna-list th {
    font-weight: 500;
}
.wrap-qna-list .qna-list .wrap {
    position: relative;
}
.wrap-qna-list .qna-list .wrap-detail {
    display: none;
    margin: 12px -124px -12px -16px;
    padding: 12px 16px;
    border-top: 0;
    background-color: #f7f7f7;
}
.wrap-qna-list .qna-list .wrap-detail:before, .wrap-qna-list .qna-list .wrap-detail:after {
      content: '';
      display: block;
      clear: both;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list .wrap-detail {
        margin: 20px -364px -20px -348px;
        padding: 20px 36px 20px 348px;
}
}
.wrap-qna-list .qna-list .wrap-detail.active {
      display: block;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list .wrap-detail td {
        padding-left: 344px;
        border-top: 0;
}
}
.wrap-qna-list .qna-list .wrap-detail .answer {
      margin-top: 12px;
      padding-top: 12px;
      border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list .wrap-detail .answer {
          margin-top: 20px;
          padding-top: 20px;
}
}
.wrap-qna-list .qna-list .wrap-detail .conts {
      overflow: visible;
      opacity: 0.5;
      word-break: break-all;
      white-space: normal;
}
.wrap-qna-list .qna-list .wrap-detail .writer,
    .wrap-qna-list .qna-list .wrap-detail .date {
      float: left;
      margin: 12px 6px 0 0;
      color: #9a9a9e;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .qna-list .wrap-detail .writer,
        .wrap-qna-list .qna-list .wrap-detail .date {
          margin: 26px 16px 0 0;
          color: #1e1e1e;
}
}
.wrap-qna-list .lbl {
  display: block;
  margin-bottom: 4px;
  color: #1e88e5;
  font-weight: 400;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .lbl {
      margin-bottom: 8px;
}
}
.wrap-qna-list .conts {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  color: #1e1e1e;
  vertical-align: middle;
}
.wrap-qna-list .conts.secret {
    padding-left: 16px;
/*     background: url("/static/20.09.01/images/ic-key-s-22-pt.svg") no-repeat left 2px;
 */    background-size: 12px 12px;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .conts.secret {
        padding-left: 26px;
        background-position-y: 2px;
        background-size: 22px 22px;
}
}
.wrap-qna-list .conts.mine {
    max-width: calc(100% - 25px);
}
.wrap-qna-list .btn-del {
  width: 12px;
  height: 12px;
  border: 0;
  background: transparent url("/static/20.09.01/images/ic-close-gray-18-pt.svg") no-repeat 50%;
  background-size: 100% 100%;
  overflow: hidden;
  text-indent: -999px;
  vertical-align: middle;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .btn-del {
      width: 18px;
      height: 18px;
}
}
.wrap-qna-list .ico-state {
  color: #a4a4a8;
  font-size: 10px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
.wrap-qna-list .ico-state {
      display: inline-block;
      min-width: 80px;
      padding: 2px 4px;
      border-radius: 14px;
      border: solid 1px #9a9a9e;
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
}
}
.wrap-qna-list .ico-state.answer {
    border-color: #1e88e5;
    color: #1e88e5;
}
